<a href="https://colab.research.google.com/github/oluwasunday/Hamoye-internship-2020/blob/master/Stage_A_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv', error_bad_lines=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [4]:
df.shape

(29523, 11)

In [5]:
df.columns

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

QUESTION 3

In [58]:
df.groupby(['fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].mean().sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

QUESTION 4

In [60]:
stndrd_dev = df.fuel_mmbtu_per_unit.std(axis=0)
stndrd_dev

10.600220307806886

In [51]:
qrt75 = df.fuel_mmbtu_per_unit.quantile(0.75)
qrt75.round(2)

17.01

QUESTION 5

In [31]:
df.fuel_qty_burned.skew().round(2)

15.85

In [32]:
df.fuel_qty_burned.kurtosis().round(2)

651.37

QUESTION 6

In [22]:
df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [27]:
df.fuel_unit.isnull().mean()*100

0.609694136774718

In [24]:
#df.sort_values(by='fuel_type_code_pudl')
df.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

QUESTION 8

In [78]:
cor = df.corr()
cor.sort_values(by='fuel_cost_per_unit_burned', ascending=False)

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
report_year                           0.093323  ...             0.010261
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_qty_burned                      -0.057447  ...            -0.001896
utility_id_ferc1                      1.000000  ...             0.006122

[7 rows x 7 columns]

QUESTION 9

In [64]:
yr_cost = df.groupby(['report_year', 'fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].mean()

yr1994, yr1998 = yr_cost.loc[[1994, 1998], 'coal']
percent_chng = ((yr1998 - yr1994) / (yr1994)) * 100
percent_chng

-12.458551963280119

  QUESTION 10

In [18]:
yr = df.groupby(['report_year']).fuel_cost_per_unit_delivered.mean().sort_values(ascending=False).head()
yr

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64